html {
    background-color: transparent;
    font-family: Courier New;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0b0b0b !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.root-div {
    position: relative;
}

.game-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.overlay-canvas {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.ui-div {
    position: absolute;
    width: 100%;
    height: 100%;
}

#header {
    position: absolute;
    margin-top: 0.5%;
    width: 100%;
    pointer-events: none;   
}

#body {
    height: 90vh;
    pointer-events: none;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.btn, .btn:focus {
  pointer-events: all;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 4px;
  font-family: Courier New;
  color: #d1d1d1;
  background: #000000;
  padding: 6px 8px 6px 8px;
  border: solid #dbdbdb 1px;
  text-decoration: none;
}

.btn:hover {
  background: #373838;
  color: white;
  text-decoration: none;
}

.menu-item { 
  pointer-events: all;
}

.welcome-jumbo {
    position: absolute;
    padding: 15px;
    background-color: transparent !important;
    color: lightgrey !important;
}

.screenTrans-enter {
    opacity: 0.01;
}

.screenTrans-enter.screenTrans-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.screenTrans-leave {
    pointer-events: none;
    opacity: 1;
}

.screenTrans-leave.screenTrans-leave-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in;
}

@media ( max-width: 750px ) {
    .btn {
        font-size: 0.75em;
        padding-top: 3px !important;
        padding-bottom: 3px !important;
        padding-right: 3px !important;
        padding-left: 3px !important;
    }
}